<%-include('navbar.ejs')%>

<form action="/admin/save_carrer_service" method="post" enctype="multipart/form-data">
    
    <div class="container p-4 bg-white">
        <div class="col-md-12 mb-2 text-center bg-dark p-2 text-white">
            <h3>Add Career Service</h3>
        </div>
        <div class="row">
            <div class="col-md-6 mt-3">
                Enter Service Logo  
                <input type="text" name="career_service_logo" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                Enter Service Info 
                <input type="text" name="career_service_details" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                Enter Service Icon 
                <input type="text" name="service_icon" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                Enter Service Title 
                <input type="text" name="service_title" class="form-control">
            </div>
            
            <div class="col-md-12 mt-3 text-center">
                <button class="btn btn-primary">Save Service</button>
            </div>
        </div>
    </div>
</form>


<br><br>


<div class="container bg-white p-3">
    <div class="row">
        <div class="col-md-12 mb-2 text-center bg-dark p-2 text-white">
            <h3>List Career Service</h3>
        </div>
        <div class="col-md-12">
            <table class="table table-border">
                <tr>
                    <th></th>
                    <th>SNO</th>
                    <th>Service Icon</th>
                    <th>Service Details</th>
                </tr>
                <% for(var i=0;i<career_services_data.length;i++) { %>
                    <tr>
                        <td>
                            <a style="text-decoration: none;" href="/admin/edit_career_service/<%=career_services_data[i].career_services_id%>"> 
                                <button class="btn btn-primary p-0 pe-2 pt-1 pb-1 ps-2"> <i class="fas fa-pencil"></i> </button>
                            </a>
                            <a style="text-decoration: none;" href="/admin/delete_career_service/<%=career_services_data[i].career_services_id%>"> 
                                <button class="btn btn-danger p-0 pe-2 pt-1 pb-1 ps-2"> <i class="fas fa-trash text-white"></i> </button> 
                            </a>
                        </td>
                        <td><%=i+1%></td>
                        <td><%=career_services_data[i].career_service_logo%></td>
                        <td><%=career_services_data[i].career_service_details%></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>

<%-include('footer.ejs')%>