<%-include('navbar.ejs')%>

<form action="/admin/update_testimonials" method="post" enctype="multipart/form-data">
    <div class="container p-4 bg-white">
        <div class="col-md-12 mb-2 text-center bg-dark p-2 text-white">
            <input type="hidden" name="testimonials_id" value="<%=testimonials_data.testimonials_id%>">
            <h3>Edit Testimonials</h3>
        </div>
        <div class="row">
            <div class="col-md-6 mt-3">
                Enter Testimonials Details
                <textarea name="testimonials_details"  cols="75" rows="">
                    <%=testimonials_data.testimonials_details%>
                </textarea>
            </div>
            <div class="col-md-3 mt-3">
                Enter Image
                <input type="file" name="testimonials_img" value="<%=testimonials_data.testimonials_details%>" class="form-control">
            </div>
            <div class="col-md-3 mt-3">
                <img src="/uploads/<%=testimonials_data.testimonials_img%>" width="100px">
            </div>
            <div class="col-md-6 mt-3">
                Enter Name
                <input type="text" name="testimonials_name" value="<%=testimonials_data.testimonials_name%>" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                Enter Position
                <input type="text" name="testimonials_position" value="<%=testimonials_data.testimonials_position%>" class="form-control">
            </div>
            <div class="col-md-12 mt-3 text-center">
                <button class="btn btn-primary">Update Testimonials</button>
            </div>
        </div>
    </div>
</form>

<%-include('footer.ejs')%>