<%-include('navbar.ejs')%>

<form action="/admin/update_landmark_service" method="post" enctype="multipart/form-data">
    
    <div class="container p-4 bg-white">
        <div class="col-md-12 mb-2 text-center bg-dark p-2 text-white">
            <h3>Update Landmark Service</h3>
        </div>
        <div class="row">
            <div class="col-md-6 mt-3">
                <input type="hidden" name="service_landmark_id" value="<%=edit_service_landmark_data.service_landmark_id%>">
                Enter Heading 
                <input type="text" name="service_landmark_heading" value="<%=edit_service_landmark_data.service_landmark_heading%>" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                Enter titel
                <input type="text" name="service_landmark_title" value="<%=edit_service_landmark_data.service_landmark_title%>" class="form-control">
            </div>
            <div class="col-md-12 mt-3">
                Enter Details 
                <input type="text" name="service_landmark_details" value="<%=edit_service_landmark_data.service_landmark_details%>" class="form-control">
            </div>
            
            <div class="col-md-12 mt-3 text-center">
                <button class="btn btn-primary">Update Service</button>
            </div>
        </div>
    </div>
</form>

<%-include('footer.ejs')%>